body {
    text-align: center;
}

h1 {
    font-size: 50px;
}

pre {
    font-size: 18px;
    font-weight: 600;
}

.heart {
    padding-top: 50px;
}

.button {
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #4700ba;
}

.button3:hover {
    background-color: #4700ba;
    color: white;
}