<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/beauty.css')}}"/>
</head>
<style>
    body
    {
        background-image:url('https://i.pinimg.com/564x/f2/a0/cf/f2a0cf8189a98e64a1f3c642a370fc1c.jpg');
    }
</style>
<body>
    <div style = "text-align:center;">
        <h1>偵測</h1>
        <img src="{{url_for('static', filename='material/coolmagni.png')}}" alt="detect" />
        <img src="{{ url_for('video_feed') }}" height="30%" width="50%" >
        <br><br>
        <form action="{{ url_for('detect')}}" method="POST" enctype = "multipart/form-data">
            <p style='color:#99120E;'>點一次:開啟偵測功能，再點一次:關閉偵測功能</p>
            <input class="button button3" type="submit" value="Detect" name="det"/>
        </form><br>
        <form action="{{ url_for('select_func') }}">
            <button class="button button1" type="submit">回功能選擇頁面</button>
        </form><br>
        <!--<form action="{{ url_for('index') }}">
            <button class="button button2" type="submit">回首頁</button>
        </form>-->    
    </div>
</body>

</html>