<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    body{
            background-image:url('https://i.pinimg.com/564x/14/94/bd/1494bd6c9b403777a9324e5e94212714.jpg');
            text-align:center;
        }
    </style>
<body>
    <div  >
    <h1>使用者登入</h1><br>
    <img src="{{url_for('static', filename='login .png')}}" alt="login" />
        {{ login_status }}<br>
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <div><p style="color:red">{{message}}</p></div>
                {% endfor %}
            {% endif%}
        {% endwith %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}<br><br>
        {{ form.password }}<br><br>
        {{ form.submit }}<br><br>
    </form>
        <a href="{{ url_for('register') }}">註冊</a>
        <br/>
        <a href="{{ url_for('index') }}">回首頁</a>
    </div>
</body>

</html>