<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/beauty.css')}}"/>
</head>
<style>
    body{
        background-image:url('https://i.pinimg.com/564x/14/94/bd/1494bd6c9b403777a9324e5e94212714.jpg');
    }
</style>
<body>
    <div>
        <h1>使用者註冊</h1>
        <img src="{{url_for('static', filename='material/register.png')}}" alt="login" />
        <br>
        {% with messages=get_flashed_messages() %}
        {% if messages%}
            {% for message in messages%}
            <div><p style="color:red">{{message}}</p></div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="">
            {{ form.register_status}}
            {{ form.hidden_tag() }}
            {{ form.username }}
            
            <br><br>
            {{ form.password }}<br><br>
            {{ form.pass_confirm }}<br><br>
            {{ form.submit (class_='button button2')}}<br><br>
        </form>
        <form action="{{ url_for('login') }}">
            <button class="button button1" type="submit">已有帳號，前往登入頁面</button>
        </form> <br>
        <form action="{{ url_for('index') }}">
            <button class="button button3" type="submit">回首頁</button>
        </form>  
    </div>
</body>

</html>