<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/beauty.css')}}"/>
</head>
<style>
    body{
        background-image:url('https://i.pinimg.com/564x/c2/f9/ba/c2f9ba98750d9da3be801702a524ade9.jpg');
    }
  
</style>
<body>
    <div style = "text-align:center;"></div>
    <h1>{{ welcome_text }}</h1><br>
    <h2>請選擇功能</h2><br>
    <img src="{{url_for('static', filename='material/tool.png')}}" alt="tool" /><br>
    <form action="{{ url_for('take_photo') }}">
        <button type="submit">拍照</button>
    </form><br>
    <form action="{{ url_for('select_file') }}">
        <button type="submit">選擇檔案上傳</button>
    </form><br>
    <form action="{{ url_for('detect') }}">
        <button type="submit">偵測</button>
    </form>
    <a href="{{ url_for('logout') }}">登出</a>
    </div>
</body>

</html>