<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/beauty.css')}}"/>
</head>
<style>
    body{
        background-image:url('https://i.pinimg.com/564x/f2/a0/cf/f2a0cf8189a98e64a1f3c642a370fc1c.jpg');
    }
   
</style>
<body>
    <div style = "text-align:center;">
        <h1>選擇檔案上傳</h1>
        <p>只接受png, jpg, jpeg檔</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
                <p>{{ message }}</p>
                <img src="{{url_for('static', filename='material/wrongicon.png')}}" alt="wrong" />
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <img src="{{url_for('static', filename='material/pic.png')}}" alt="picture" />
        <form action="{{ url_for('select_file')}}" method="POST" enctype = "multipart/form-data">
            <input type = "file" size = "30" name = "img"/>
            <br>
            <input type = "submit" value = "上傳" accept=".jpg, .jpeg, .png" style = "margin-top:15px;"  class = "button"/>
    </div>
</body>

</html>