<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Photo</title>
</head>
<style>
    body{
        background-image:url('https://i.pinimg.com/564x/f2/a0/cf/f2a0cf8189a98e64a1f3c642a370fc1c.jpg');
        text-align:center;
    }
    h1{
        font-size:50px;
    }
</style>
<body>
    <div style = "text-align:center;">
        <h1>拍照上傳</h1>
        <img src="{{url_for('static', filename='cam.png')}}" alt="cam" />
        <img src="{{ url_for('video_feed') }}" height="50%" width="70%" >
        <br><br>
        <form action="{{ url_for('take_photo')}}" method="POST" enctype = "multipart/form-data">
            <input type="submit" value="Capture" name="click"/>
        </form>
    </div>
</body>

</html>