<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/beauty.css')}}"/>
</head>
<style>
    body{
        background-image:url('https://i.pinimg.com/564x/f2/a0/cf/f2a0cf8189a98e64a1f3c642a370fc1c.jpg');
    }
</style>
<body>
    <div>
        <h1>Plz, choose another one and do in again</h1>
        <img src="{{url_for('static', filename='material/plz.png')}}" alt="sorry" />
        <form action="{{ url_for('take_photo') }}">
            <button class="button button1" type="submit">拍照</button>
        </form><br>
        <form action="{{ url_for('select_file') }}">
            <button class="button button2" type="submit">選擇檔案上傳</button>
        </form> 
    </div>
</body>

</html>